/*----------------------------------------------------------------------------
*
*     Copyright © 2022 THALES. All Rights Reserved.
 *
* -----------------------------------------------------------------------------
* THALES MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF
* THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 * TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, OR NON-INFRINGEMENT. THALES SHALL NOT BE
 * LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING,
 * MODIFYING OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*
* THIS SOFTWARE IS NOT DESIGNED OR INTENDED FOR USE OR RESALE AS ON-LINE
* CONTROL EQUIPMENT IN HAZARDOUS ENVIRONMENTS REQUIRING FAIL-SAFE
* PERFORMANCE, SUCH AS IN THE OPERATION OF NUCLEAR FACILITIES, AIRCRAFT
* NAVIGATION OR COMMUNICATION SYSTEMS, AIR TRAFFIC CONTROL, DIRECT LIFE
* SUPPORT MACHINES, OR WEAPONS SYSTEMS, IN WHICH THE FAILURE OF THE
* SOFTWARE COULD LEAD DIRECTLY TO DEATH, PERSONAL INJURY, OR SEVERE
* PHYSICAL OR ENVIRONMENTAL DAMAGE ("HIGH RISK ACTIVITIES"). THALES
* SPECIFICALLY DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTY OF FITNESS FOR
* HIGH RISK ACTIVITIES.
* -----------------------------------------------------------------------------
*/

footer{
    text-align: center;
}

footer::before{
    content: "THALES GROUP CONFIDENTIAL PROJECT";
    font-weight: 300;
    font-size: 16px;
    color: red;
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 100px;
}

.details {
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

input:invalid {
    border: 1px red;
}

input:valid {
    border: 1px solid black;
}

select:invalid {
    border: 1px solid red;
}

select option {
    border: 1px solid black;
}

.subheading {
    text-align: center;
    font-size: 18px;
}

.summary {
    font-size: 14px;
    text-align: center;
}

.url:invalid {
    border: 1px solid red;
}

.url:valid {
    border: 1px solid black;
}

.add-delete-container{
    text-align: right;
}

.addDelete{
   background-color: transparent;
}

.addDelete:hover{
    color: rgb(63, 63, 63);
}

.table{
    display: grid;
    grid-template-columns: 15px auto;
    grid-gap: 5px;
}

.checkbox{
    padding-top:32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hyperlink-attachment-image{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hyperlink-attachment-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*tooltip*/

.tooltip {
    position:relative;
    text-align:left;
}

.tooltip .top {
    min-width:100; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#000000;
    background-color:#FFFFFF;
    font-weight:normal;
    font-size:10px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid transparent;box-shadow:0 1px 8px transparent;
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#FFFFFF;
    border:1px solid transparent;box-shadow:0 1px 8px transparent;
}

/*tooltip*/

.section{
    background-color: rgb(185, 185, 185);
    padding: 10px;
    margin-bottom: 10px;
}

table{
    width:100%;
}

th{
    font-size: small;
    background-color: #ffffffca;
    color: #4f4f4f;
    height: 26px;
}

td{
    font-size: small;
    padding: 10px;
}

table, th, td {
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
}

select{
    width: 100%;
}