/*----------------------------------------------------------------------------
*
*     Copyright © 2022 THALES. All Rights Reserved.
 *
* -----------------------------------------------------------------------------
* THALES MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF
* THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 * TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, OR NON-INFRINGEMENT. THALES SHALL NOT BE
 * LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING,
 * MODIFYING OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*
* THIS SOFTWARE IS NOT DESIGNED OR INTENDED FOR USE OR RESALE AS ON-LINE
* CONTROL EQUIPMENT IN HAZARDOUS ENVIRONMENTS REQUIRING FAIL-SAFE
* PERFORMANCE, SUCH AS IN THE OPERATION OF NUCLEAR FACILITIES, AIRCRAFT
* NAVIGATION OR COMMUNICATION SYSTEMS, AIR TRAFFIC CONTROL, DIRECT LIFE
* SUPPORT MACHINES, OR WEAPONS SYSTEMS, IN WHICH THE FAILURE OF THE
* SOFTWARE COULD LEAD DIRECTLY TO DEATH, PERSONAL INJURY, OR SEVERE
* PHYSICAL OR ENVIRONMENTAL DAMAGE ("HIGH RISK ACTIVITIES"). THALES
* SPECIFICALLY DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTY OF FITNESS FOR
* HIGH RISK ACTIVITIES.
* -----------------------------------------------------------------------------
*/

/*tabs*/

.wrapper {
    min-width: 800px;
    width: 55%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

/* .tab-button {
    border: 1px solid black;
} */

.buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.buttonWrapper button {
    border: none;
    padding: 10px 0px;
    /* background-color: white; */
    font-size: 12px;
    cursor: pointer;
}

/* button.active {
    background-color: #dedede;
} */

button[data-id='welcome']{
    background-color: #e1e1e1;
}

button[data-id='project-context'] {
    background-color: #68a7ab;
}

button[data-id='business-assets'] {
    background-color: #92d050;
}

button[data-id='supporting-assets'] {
    background-color: #ffc000;
}

button[data-id='risks'] {
    background-color: #b789fb;
}

button[data-id='vulnerabilities'] {
    background-color: #f3748c;
}

button[data-id='isra-report'] {
    background-color: #a6c2b2;
}

button[class="tab-button active"] {
    font-weight: bold;
    border: 1px solid black;
}

button[class="tab-button"] {
    border: 1px solid black;
}


/* .content {
    display: none;
    padding: 10px 20px;
    background-color: #dedede;
} */

.content .active {
    display: block;
    padding: 10px 20px;
}

/*tabs*/

footer{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 141, 0);
}

header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 100px 20px 100px;
    padding-top: 2%;
}

.details {
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

input:invalid {
    border: 1px red;
}

input:valid {
    border: 1px solid black;
}

select:invalid {
    border: 1px solid red;
}

select option {
    border: 1px solid black;
}

.subheading {
    text-align: center;
    font-size: 18px;
}

.summary {
    font-size: 14px;
    text-align: center;
}

.url:invalid {
    border: 1px solid red;
}

.url:valid {
    border: 1px solid black;
}

.add-delete-container{
    text-align: right;
    margin-bottom: 2%;
}

.addDelete{
    /* background-color: transparent;
    border: none; */
    /* width: 8%; */
    font-size: 12px;
    cursor: pointer;
}

.addDelete:hover{
    color: rgb(63, 63, 63);
}

.table{
    display: grid;
    grid-template-columns: 15px auto;
    grid-gap: 5px;
}

.checkbox{
    padding-top:32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hyperlink-attachment-image{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*tooltip*/

.tabulator-tooltip {
    font-family: Arial, Helvetica, sans-serif;
    color: #4f4f4f;
}

.tooltip {
    position:relative;
    text-align:left;
}

.tooltip .top {
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    color:#4f4f4f;
    padding: 0 2px;
    background-color:#FFFFFF;
    font-weight:normal;
    font-size:12px;
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    border:1px solid #bcbcbc;
    visibility:hidden;
    opacity:0;
    transition-delay: 0.2s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top p {
    margin: 5px 2px;
}

/* .tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:auto;
    height:12px;
    overflow:hidden;
} */

/* .tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#FFFFFF;
    border:1px solid transparent;box-shadow:0 1px 8px transparent;
} */

/*tooltip*/

article, section{
    padding: 10px;
    margin-bottom: 10px;
}

table{
    width:100%;
}

th{
    font-size: small;
    background-color: #ffffffca;
    color: #4f4f4f;
    height: 26px;
}

td{
    font-size: small;
    padding: 10px;
}

table, th, td {
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
}

select{
    width: 100%;
}

.table {
    margin-bottom: 10px;
}

.filter {
    margin-bottom: 2%;
}

.contentWrapper {
    padding: 2%;
    margin-top: 2%;
    background-color: white;
}