/*----------------------------------------------------------------------------
*
*     Copyright © 2022 THALES. All Rights Reserved.
 *
* -----------------------------------------------------------------------------
* THALES MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF
* THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
 * TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE, OR NON-INFRINGEMENT. THALES SHALL NOT BE
 * LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING,
 * MODIFYING OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
*
* THIS SOFTWARE IS NOT DESIGNED OR INTENDED FOR USE OR RESALE AS ON-LINE
* CONTROL EQUIPMENT IN HAZARDOUS ENVIRONMENTS REQUIRING FAIL-SAFE
* PERFORMANCE, SUCH AS IN THE OPERATION OF NUCLEAR FACILITIES, AIRCRAFT
* NAVIGATION OR COMMUNICATION SYSTEMS, AIR TRAFFIC CONTROL, DIRECT LIFE
* SUPPORT MACHINES, OR WEAPONS SYSTEMS, IN WHICH THE FAILURE OF THE
* SOFTWARE COULD LEAD DIRECTLY TO DEATH, PERSONAL INJURY, OR SEVERE
* PHYSICAL OR ENVIRONMENTAL DAMAGE ("HIGH RISK ACTIVITIES"). THALES
* SPECIFICALLY DISCLAIMS ANY EXPRESS OR IMPLIED WARRANTY OF FITNESS FOR
* HIGH RISK ACTIVITIES.
* -----------------------------------------------------------------------------
*/

#risks__risk__description > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#risks section {
    background-color: rgb(199, 199, 199);
}

/* #risks button{
    padding: 1em;
} */

.risk__flex {
    display: flex;
}

.risk__flex > div{
    flex: 1;
    margin-bottom: 1em;
}

#risk__simple__evaluation,
#risk__manual__riskName {
    display: none;
    margin-bottom: 1em;
}

#risk__simple__evaluation button,
#risk__likehood__table button:nth-of-type(1),
#riskName {
    margin-bottom: 1em;
}

#risks h1{
    font-size: 1.5em;
    margin-bottom: 0;
}

#risks h2{
    font-size: 1em;
}

.table {
    margin-bottom: 10px;
}

#risk__likehood__table div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

#risk__likehood__table div p {
    margin: 0;
    font-size: 0.8em;
}

#risk__likehood__table div select {
    width: 10em;
    height: 1.5em;
}

tbody {
    text-align: center;
}

#risk__occurrence__threatFactor__table tbody:first-of-type tr:nth-of-type(n+2)  td:nth-of-type(n+2) {
    font-weight: bold;
    visibility: hidden;
}